<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnushaAnil</title>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
   
    <script src="https://kit.fontawesome.com/618ef31ce7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="images/A.jpg" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
</head>
<body>
    <!-- header starts -->
   <header class="header">
   
    <!-- navbar....... -->
    <div id="navbar">
        <a href="#" class="menu-bars" id="show-menu">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    
    
    <nav id="nav-menu">
        <ul class="nav-menu-items">
            <div id="navbar-toggle">
                <a href="#" class="menu-bars" id="hide-menu">
                    <i class="fas fa-bars nav-icon"></i>
                </a>
              
            </div>
            <hr/>
            <div class="nav-section">
                <li class="nav-text"><a href="#home-section"><i class="fa-solid fa-house-user"></i> Home</a></li>
                <li class="nav-text"><a href="#about-section"><i class="fa-solid fa-user"></i> About Me</a></li>
              
               
            </div>
            <hr/>
            <div class="nav-section">
                <li class="nav-text"><a href="#skill-section"><i class="fa-solid fa-laptop-code"></i> Skill</a></li>
                <li class="nav-text"><a href="#education-section"><i class="fa-solid fa-school"></i> Education</a></li>

                <li class="nav-text"><a href="#contactme-sectn"><i class="fa-solid fa-envelope"></i> Contact Me</a></li>
               

            </div>
            
        </ul>
    </nav>
  </header>
    <!-- navbar ends...... -->
   
    <script src='javascript.js'></script>
    <!-- home page text -->
    <div class="home-image" id="home-section">
        <img src="images/home.jpg" alt="homeimage" width="100%" >
    </div>
    <div class="bg-text">
        <h2>ANUSHA ANIL</h2>
        <h6>Full Stack Developer</h6>
    </div>
   
    <!-- header ends..... -->
    <!-- about starts.... -->
    <section class="aboutsection" id="about-section">
       <div class="about">
            <h1><strong>ABOUT ME</strong></h1>
            
            <p>I'm Anusha Anil graduated in B-tech Civil engineering from Mohandas college of engineering in the year 2021.I turned to Full Stack Development because of my interest in coding.I am confident that I am well-prepared to be a
                valuable contributor .Through my academic journey, I applied a strong focus on building my programming and software
                engineering abilities. I am detail-oriented and meticulous when managing competing priorities within
                tight deadlines. I work best in roles where utilizing software development allows me to make a
                positive impact while using creative problem-solving to resolve issues and achieve goals.</p>
            <img src="./images/img1.jpg.jpeg" alt="anushaimage" class="img-fluid  rounded-circle">
        </div>
    </section>
     <!--about ends --> 
     <!-- skill...... -->
     <section class="bg-skill" id="skill-section">
      <div class="container">
        <h1 ><strong>SKILLS</strong></h1>
      </div>
      <div class="basicskill">
          <i class="fa-brands fa-java display-1 text-light"></i>
              <h4 class="card-title">Basics</h4>
              <p class="card-text">C,Java,Python</p>
               
      </div>
      <div class="webskill">
            <i class="fa-brands fa-html5 display-1 text-light"></i>
             <h4 class="card-title">web Design</h4>
             <p class="card-text">Html,CSS,jquery,Javascript</p>
               
      </div>
    </section>
     <!-- skill ends..... -->
     <!-- education starts -->
     <section class="time-line-education" id="education-section">
        <div class="education" id="edtn">
            <h1><strong>EDUCATION</strong></h1>
        </div>
     <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
     <div class="history-tl-container">
       <ul class="tl">
         <li class="tl-item" ng-repeat="item in retailer_history">
           <div class="timestamp">
             2017-2021
           </div>
           <div class="item-title">B-Tech in Civil Engineering</div>
           <div class="item-detail">Mohandas College of Engineering And Technology</div>
         </li>
         <li class="tl-item" ng-repeat="item in retailer_history">
           <div class="timestamp">
             Dec-2020
           </div>
           <div class="item-title">Digital Marketing</div>
           <div class="item-detail">Google Certified</div>
         </li>
         <li class="tl-item" ng-repeat="item in retailer_history">
           <div class="timestamp">
             2014-2016
           </div>
           <div class="item-title">GGHSS Mithirmala</div>
           <div class="item-detail">Biology Science</div>
         </li>
     
       </ul>
     
     </div>
    </section>

     <!-- education ends....... -->

     <!-- contact me ....... -->
  <section class="contact-section" id="contactme-sectn">
    <div class="contact-text" >
      <h1><strong>CONTACT ME</strong> </h1>
    </div>
 <form class="cf">
   <div class="contact-first">
     <input type="text" id="input-name" placeholder="Name">
   
     <input type="email" id="input-email" placeholder="Email address">
   </div>
   <div>
    <input type="email" id="input-place" placeholder="place">
    <input type="text" id="input-phone" placeholder="PhoneNumber">
   </div>
   <div>
     <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
   </div>  
   <input type="submit" value="Submit" id="input-submit">
 </form>
 </section>
 <!-- footer................... -->
 <footer class="bg-footer" id="footer-section">
  <div class="footer-button" id="footer-section">
    <a class="btn-instagram" href="https://www.instagram.com/_a.n.u_s.h.a__/!" role="button" data-mdb-ripple-color="dark">
      <i class="fab fa-instagram"></i></a>
  
    <a class="btn-linkedin" href="https://www.linkedin.com/in/anusha-anil-003b2617b/" role="button" data-mdb-ripple-color="dark">
      <i class="fab fa-linkedin"></i></a>
  
    <a class="btn-github"href="https://github.com/anusha-anil3773"role="button"data-mdb-ripple-color="dark">
      <i class="fab fa-github"></i></a>
    
      <a class="btn-twitter"href="https://twitter.com/AnushaAnil14"role="button"data-mdb-ripple-color="dark">
        <i class="fab fa-twitter"></i></a>
    
    
  </div>
  <div class="footer-text">
  <h6>Copyright@2022</h6>
  </div>
 </footer>
    
    


    
    
</body>
</html>
